<h1><center>Data Structures and Algorithms (داده ساختارها و الگوریتم ها)</center></h1>

---

<h2><center>استخراج متغیرها از یک توالی</center></h2>

In [1]:
a = (5, 12, 35)

In [2]:
a1, a2, a3 = a

In [3]:
a1

5

In [4]:
a2

12

In [5]:
a3

35

In [6]:
a

(5, 12, 35)

In [8]:
a1, a2, a3, a4= a

ValueError: not enough values to unpack (expected 4, got 3)

In [9]:
l = ['faradars', 33, 12.9, (12, 25, 71)]

In [11]:
s, i, f, t = l

In [15]:
t

(12, 25, 71)

In [16]:
s, i, f, (t1, t2, t3) = l

In [20]:
t3

71

In [21]:
s = 'salam'

In [22]:
s1, s2, s3, s4, s5 = s

In [23]:
s1

's'

In [24]:
s2

'a'

In [25]:
s3

'l'

In [30]:
for _ in range(5):
    print('salam')

salam
salam
salam
salam
salam

In [31]:
l

['faradars', 33, 12.9, (12, 25, 71)]

In [32]:
s, _, _, t = l

In [33]:
s

'faradars'

In [34]:
t

(12, 25, 71)

 <h2><center> با طول دلخواه Iterable استخراج المان ها از</center></h2>

In [ ]:
# star expression *

In [37]:
g = [2, 5, 4, 3, 2, 1, 4, 5, 5, 2,
     4, 5, 3, 3, 2, 4, 5, 5, 5, 4]

In [46]:
def avg_mid(grades):
    _, *vasat, _ = grades
    return sum(vasat)/len(vasat)

In [38]:
a, *v, r = g

In [42]:
len(v)

18

In [47]:
avg_mid(g)

3.7222222222222223

In [1]:
pl = ('Pejman', '26', 'Python', 'Java', 'C++')

In [2]:
name, age, *prog_lang = pl

In [3]:
name

'Pejman'

In [4]:
age

'26'

In [5]:
prog_lang

['Python', 'Java', 'C++']

In [6]:
d = [1.2, 2.5, 1.7, 0.8, 0.9, 1.1, 1.7, 1.4, 1.3, 2, 2.1, 1.4]

In [7]:
*ghabl, alan = d

In [10]:
sum(ghabl)/len(ghabl)

1.5181818181818185

In [12]:
*ghabli, a , b = d

In [14]:
b

1.4

In [15]:
r = [
    ('a', 10, 40),
    ('b', 25, 63, 71),
    ('c', 'salam')
]

In [16]:
def pr_a(x, y):
    print('a', x, y)

def pr_b(x, y, z):
    print('b', x, y, z)
    
def pr_c(s):
    print('c', s)

In [18]:
for tag, *args in r:
    if tag == 'a':
        pr_a(*args)
    elif tag == 'b':
        pr_b(*args)
    else:
        pr_c(*args)

a 10 40
b 25 63 71
c salam

In [19]:
line = 'pejman:12.2:84.9:1200000025556545:abcd@htb:45666554:python:26'

In [20]:
name, *data, pr_lan, age = line.split(':')

In [24]:
age

'26'

In [25]:
r = ('PyCon', 102, 200345, (10, 25, 2021))

In [26]:
name, *_, (*_, year) = r

In [27]:
name

'PyCon'

In [28]:
year

2021

In [29]:
l = [1, 25, 4, 8, 99, 0, 12]

In [30]:
head, *tail = l

In [31]:
head

1

In [32]:
tail

[25, 4, 8, 99, 0, 12]

In [33]:
def sum(l):
    head, *tail = l
    return head + sum(tail) if tail else head

In [34]:
sum(l)

149

 <h2><center> آیتم آخر N نگه داشتن</center></h2>

In [36]:
import collections

In [37]:
de = collections.deque([2, 8, 32])

In [38]:
de

deque([2, 8, 32])

In [39]:
de.append(20)

In [40]:
de

deque([2, 8, 32, 20])

In [41]:
de.appendleft(20)

In [42]:
de

deque([20, 2, 8, 32, 20])

In [43]:
de.pop()

20

In [44]:
de

deque([20, 2, 8, 32])

In [45]:
de.popleft()

20

In [46]:
de

deque([2, 8, 32])

In [ ]:
# deque -> O(1) | list -> O(n)

In [47]:
from collections import deque

In [49]:
a = deque(maxlen=5)

In [57]:
a.append(1000); a

deque([5, 25, 41, 100, 1000])

In [48]:
def search(lines, pattern, hist=8):
    pr_lines = deque(maxlen=hist)
    for line in lines:
        if pattern in line:
            yield line, pr_lines
        pr_lines.append(line)

In [69]:
with open('text1.txt') as f:
    for line, pr_lines in search(f, 'python', 2):
        for pline in pr_lines:
            print(pline, end='')
        print(line, end='')
        print('-'*15)

In [68]:
len(pr_lines)

2

 <h2><center> آیتم N پیدا کردن بزرگترین یا کوچکترین </center></h2>

In [1]:
numbers = [25, 14, -9, 78, 120, -99, 13, 20, 5]

In [3]:
sorted(numbers)

[-99, -9, 5, 13, 14, 20, 25, 78, 120]

In [4]:
sorted(numbers)[:3]

[-99, -9, 5]

In [5]:
sorted(numbers)[-3:]

[25, 78, 120]

[Heap Data Structure](https://www.tutorialspoint.com/data_structures_algorithms/heap_data_structure.htm)

In [6]:
import heapq

In [7]:
numbers

[25, 14, -9, 78, 120, -99, 13, 20, 5]

In [8]:
heapq.nlargest(3, numbers)

[120, 78, 25]

In [9]:
heapq.nsmallest(3, numbers)

[-99, -9, 5]

In [10]:
d = [
    {'name':'RED', 'NOW':1000, 'price':93.8},
    {'name':'EWS', 'NOW':2000, 'price':90.8},
    {'name':'TRE', 'NOW':500, 'price':100.7},
    {'name':'PLE', 'NOW':700, 'price':50.3},
    {'name':'STQ', 'NOW':5000, 'price':80.4}
]

In [11]:
heapq.nlargest(2, d, key=lambda s:s['price'])

[{'name': 'TRE', 'NOW': 500, 'price': 100.7},
 {'name': 'RED', 'NOW': 1000, 'price': 93.8}]

In [12]:
heapq.nsmallest(2, d, key=lambda s:s['price'])

[{'name': 'PLE', 'NOW': 700, 'price': 50.3},
 {'name': 'STQ', 'NOW': 5000, 'price': 80.4}]

In [13]:
heapq.nlargest(2, d, key=lambda s:s['NOW'])

[{'name': 'STQ', 'NOW': 5000, 'price': 80.4},
 {'name': 'EWS', 'NOW': 2000, 'price': 90.8}]

In [14]:
heapq.nsmallest(2, d, key=lambda s:s['NOW'])

[{'name': 'TRE', 'NOW': 500, 'price': 100.7},
 {'name': 'PLE', 'NOW': 700, 'price': 50.3}]

In [15]:
heapq.nlargest(2, d, key=lambda s:s['name'])

[{'name': 'TRE', 'NOW': 500, 'price': 100.7},
 {'name': 'STQ', 'NOW': 5000, 'price': 80.4}]

In [16]:
heapq.nsmallest(2, d, key=lambda s:s['name'])

[{'name': 'EWS', 'NOW': 2000, 'price': 90.8},
 {'name': 'PLE', 'NOW': 700, 'price': 50.3}]

In [17]:
numbers

[25, 14, -9, 78, 120, -99, 13, 20, 5]

In [18]:
heap = list(numbers)

In [19]:
heapq.heapify(heap)

In [20]:
heap

[-99, 5, -9, 14, 120, 25, 13, 20, 78]

In [21]:
heapq.heappop(heap)

-99

In [22]:
heap

[-9, 5, 13, 14, 120, 25, 78, 20]

In [23]:
heapq.heappop(heap)

-9

In [24]:
heapq.heappop(heap)

5

In [25]:
numbers = [25, -8, 1, -4, 15, 32, 12, 91]

In [26]:
min(numbers)

-8

In [27]:
n = sorted(numbers)[:3]; n # [:N]

[-8, -4, 1]

In [28]:
n = sorted(numbers)[-3:]; n # [-N:]

[25, 32, 91]

<h2><center> پیاده سازی صف دارای اولویت </center></h2>

In [29]:
import heapq

In [30]:
class PrQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    
    def push(self, item, prio):
        heapq.heappush(self._queue, (-prio, self._index, item))
        self._index += 1
    
    def pop(self):
        return heapq.heappop(self._queue)[-1]

In [36]:
class Item:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return 'Item({!r})'.format(self.name)

In [32]:
q = PrQueue()

In [37]:
q.push(Item('A'), 2)

In [38]:
q.push(Item('B'), 5)

In [39]:
q.push(Item('C'), 1)

In [40]:
q.push(Item('D'), 2)

In [42]:
q._queue

[(-5, 1, Item('B')),
 (-2, 0, Item('A')),
 (-1, 2, Item('C')),
 (-2, 3, Item('D'))]

In [43]:
q.pop()

Item('B')

In [44]:
q.pop()

Item('A')

In [45]:
q.pop()

Item('D')

In [46]:
q.pop()

Item('C')

In [ ]:
# O(logN)

In [57]:
a = (5, 0, Item('A'))
b = (2, 1, Item('B'))
c = (5, 2, Item('C'))

In [58]:
a < c

True

<h2><center> Dictionary در یک  Value به چندین Key نگاشت  </center></h2>

In [59]:
d = {
    '1': [10, 20, 30],
    '2': [100, 300]
}

In [60]:
s = {
    '1': {10, 20, 30},
    '2': {100, 300}
}

In [62]:
s

{'1': {10, 20, 30}, '2': {100, 300}}

In [64]:
d

{'1': [10, 20, 30], '2': [100, 300]}

In [63]:
from collections import defaultdict

In [65]:
d = defaultdict(list)

In [68]:
d['1'].append(10)
d['1'].append(20)
d['1'].append(30)
d['2'].append(100)
d['2'].append(300)

In [69]:
d

defaultdict(list, {'1': [10, 10, 20, 30], '2': [100, 300]})

In [70]:
s

{'1': {10, 20, 30}, '2': {100, 300}}

In [74]:
s = defaultdict(set)
s['1'].add(10)
s['1'].add(20)
s['1'].add(30)
s['2'].add(100)
s['2'].add(300)

In [75]:
s

defaultdict(set, {'1': {10, 20, 30}, '2': {100, 300}})

In [76]:
d = {}

In [77]:
d.setdefault('1', []).append(10)
d.setdefault('1', []).append(20)
d.setdefault('1', []).append(30)
d.setdefault('2', []).append(100)
d.setdefault('2', []).append(300)

In [78]:
d

{'1': [10, 20, 30], '2': [100, 300]}

In [ ]:
d = {}
for k, v in pairs:
    if k not in d:
        d[k] = []
    d[k].append(v)

In [ ]:
d = defaultdict(list)
for k , v in pairs:
    d[k].append(v)

<h2><center> Dictionary محاسبات با </center></h2>

In [57]:
d = {
    'SRD': 41.2,
    'HFV': 47.9,
    'ABV': 120.2,
    'QBC': 150.2,
    'AAP': 120.2
}

In [32]:
min(d)

'ABV'

In [33]:
max(d)

'SRD'

In [35]:
min(d.values())

41.2

In [36]:
max(d.values())

150.2

In [38]:
min(d, key=lambda k:d[k])

'SRD'

In [39]:
max(d, key=lambda k:d[k])

'QBC'

In [47]:
a = [10, 2, 3]

In [41]:
b = ['x', 'y', 'z']

In [44]:
list(zip(b, a))

[('x', 1), ('y', 2), ('z', 3)]

In [48]:
min(zip(a, b))

(2, 'y')

In [49]:
min(zip(b, a))

('x', 10)

In [51]:
d

{'SRD': 41.2, 'HFV': 47.9, 'ABV': 120.2, 'QBC': 150.2}

In [50]:
min(zip(d.values(), d.keys()))

(41.2, 'SRD')

In [52]:
max(zip(d.values(), d.keys()))

(150.2, 'QBC')

In [58]:
sorted(zip(d.values(), d.keys()))

[(41.2, 'SRD'), (47.9, 'HFV'), (120.2, 'AAP'), (120.2, 'ABV'), (150.2, 'QBC')]

In [59]:
dz = zip(d.values(), d.keys())

In [60]:
print(min(dz))

(41.2, 'SRD')

In [61]:
print(max(dz))

ValueError: max() arg is an empty sequence

In [62]:
print(min(zip(d.values(), d.keys())))

(41.2, 'SRD')

In [63]:
print(max(zip(d.values(), d.keys())))

(150.2, 'QBC')

<h2><center> Dictionary پیدا کردن اشتراکات در دو </center></h2>

In [64]:
d1 = {
    'a': 10,
    'b': 20,
    'c': 30
}

d2 = {
    'a': 10,
    'b': 25,
    'd': 40
}

In [65]:
d1.keys() & d2.keys()

{'a', 'b'}

In [66]:
d1.keys() - d2.keys()

{'c'}

In [68]:
d2.keys() - d1.keys()

{'d'}

In [69]:
d1.items() & d2.items()

{('a', 10)}

In [70]:
d1.items() - d2.items()

{('b', 20), ('c', 30)}

In [72]:
d3 = {key:d1[key] for key in d1.keys() - {'a', 'q'}}

In [73]:
d3

{'b': 20, 'c': 30}

 <h2><center> حذف تکرارها از یک توالی با نگه داشتن ترتیب </center></h2>

In [76]:
l = [1, 5, 12, -13, 27, 89, 145, 89, -13, 1, 5]

In [77]:
set(l)

{-13, 1, 5, 12, 27, 89, 145}

In [78]:
def eli_dup(items):
    seen_items = set()
    for item in items:
        if item not in seen_items:
            yield item
            seen_items.add(item)

In [79]:
l

[1, 5, 12, -13, 27, 89, 145, 89, -13, 1, 5]

In [81]:
list(eli_dup(l))

[1, 5, 12, -13, 27, 89, 145]

In [89]:
d = [{'a':1, 'b':2}, {'a':10, 'b':2}, {'a':1, 'b':2}, {'a':20, 'b':40}, {'a':20, 'b':80}]

In [84]:
list(eli_dup(d))

TypeError: unhashable type: 'dict'

In [85]:
def eli_dup(items, key=None):
    seen_items = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen_items:
            yield item
            seen_items.add(val)

In [92]:
list(eli_dup(d, key=lambda n:(n['a'], n['b'])))

[{'a': 1, 'b': 2}, {'a': 10, 'b': 2}, {'a': 20, 'b': 40}, {'a': 20, 'b': 80}]

In [90]:
d

[{'a': 1, 'b': 2},
 {'a': 10, 'b': 2},
 {'a': 1, 'b': 2},
 {'a': 20, 'b': 40},
 {'a': 20, 'b': 80}]

In [99]:
with open('text2.txt', 'r') as f:
    for line in eli_dup(f):
        print(line)

kvsenvuenjuvf

smjcbfwfb

32131351315

cjhwbfuwbwjfkfdwb

fvfeubfejfbej

<h2><center> Slice نامگذاری یک </center></h2>

In [104]:
r = '...................123..................458...........'
v_p = (r[19:22], r[40:43]); v_p

('123', '458')

In [106]:
volt = slice(19, 22)
pwr = slice(40,43)

In [107]:
volt

slice(19, 22, None)

In [108]:
pwr

slice(40, 43, None)

In [109]:
v_p = (r[volt], r[pwr])

In [110]:
v_p

('123', '458')

In [111]:
l = [0, 10, 20, 30, 40, 50, 60]

In [112]:
a = slice(3, 5)

In [114]:
l[a]

[30, 40]

In [115]:
l[3:5]

[30, 40]

In [116]:
l[a] = [300, 400]

In [117]:
l

[0, 10, 20, 300, 400, 50, 60]

In [118]:
del l[a]

In [119]:
l

[0, 10, 20, 50, 60]

In [120]:
a = slice(1, 10, 2)

In [121]:
a.start

1

In [122]:
a.stop

10

In [123]:
a.step

2

<h2><center> تعیین آیتم های پر تکرار در یک توالی </center></h2>

In [1]:
from collections import Counter

In [2]:
w = ['faradars', 'python', 'pejman', '121', '53', 'pejman', 'faradars', 'faradars', '121',
    'python', 'python', 'python', 'faradars', 'python', '121', 'pejman']

In [4]:
w_count = Counter(w)

In [5]:
w_count

Counter({'faradars': 4, 'python': 5, 'pejman': 3, '121': 3, '53': 1})

In [6]:
top_two = w_count.most_common(2)

In [7]:
top_two

[('python', 5), ('faradars', 4)]

In [8]:
w_count['121']

3

In [9]:
w_count['pejman']

3

In [11]:
w2 = ['java', 'c++', 'java', 'java', '1.2', 'c++', 'R', '1.2', 'faradars', 'python']

In [12]:
for wo in w2:
    w_count[wo] += 1

In [13]:
w_count

Counter({'faradars': 5,
         'python': 6,
         'pejman': 3,
         '121': 3,
         '53': 1,
         'java': 3,
         'c++': 2,
         '1.2': 2,
         'R': 1})

In [14]:
w3 = ['java', 'python', 'python', 'R', 'faradars']

In [15]:
w_count.update(w3)

In [16]:
w_count

Counter({'faradars': 6,
         'python': 8,
         'pejman': 3,
         '121': 3,
         '53': 1,
         'java': 4,
         'c++': 2,
         '1.2': 2,
         'R': 2})

In [17]:
a = Counter(w)

In [19]:
b = Counter(w2)

In [21]:
a

Counter({'faradars': 4, 'python': 5, 'pejman': 3, '121': 3, '53': 1})

In [22]:
b

Counter({'java': 3, 'c++': 2, '1.2': 2, 'R': 1, 'faradars': 1, 'python': 1})

In [23]:
a + b

Counter({'faradars': 5,
         'python': 6,
         'pejman': 3,
         '121': 3,
         '53': 1,
         'java': 3,
         'c++': 2,
         '1.2': 2,
         'R': 1})

In [24]:
a - b

Counter({'faradars': 3, 'python': 4, 'pejman': 3, '121': 3, '53': 1})

 <h2><center> ها با یک کلید معمول Dictionary از List مرتب کردن یک </center></h2>

In [25]:
data = [
    {'fname': 'Alireza', 'lname': 'Amani', 'sid': 1020},
    {'fname': 'Vahid', 'lname': 'Aghaee', 'sid': 1040},
    {'fname': 'Javad', 'lname': 'Kiani', 'sid': 1010},
    {'fname': 'Pejman', 'lname': 'Eghbali', 'sid': 1005},
    {'fname': 'Arman', 'lname': 'Eghbali', 'sid': 1060},
]

In [26]:
sort_by_fname = sorted(data, key=lambda s: s['fname'])

In [28]:
sort_by_lname_fname = sorted(data, key=lambda s: (s['lname'], s['fname']))

In [29]:
sort_by_lname_fname

[{'fname': 'Vahid', 'lname': 'Aghaee', 'sid': 1040},
 {'fname': 'Alireza', 'lname': 'Amani', 'sid': 1020},
 {'fname': 'Arman', 'lname': 'Eghbali', 'sid': 1060},
 {'fname': 'Pejman', 'lname': 'Eghbali', 'sid': 1005},
 {'fname': 'Javad', 'lname': 'Kiani', 'sid': 1010}]

In [30]:
from operator import itemgetter

In [35]:
sort_by_fname = sorted(data, key=itemgetter('lname', 'fname'))

In [36]:
sort_by_fname

[{'fname': 'Vahid', 'lname': 'Aghaee', 'sid': 1040},
 {'fname': 'Alireza', 'lname': 'Amani', 'sid': 1020},
 {'fname': 'Arman', 'lname': 'Eghbali', 'sid': 1060},
 {'fname': 'Pejman', 'lname': 'Eghbali', 'sid': 1005},
 {'fname': 'Javad', 'lname': 'Kiani', 'sid': 1010}]

In [39]:
min(data, key=itemgetter('sid'))

{'fname': 'Pejman', 'lname': 'Eghbali', 'sid': 1005}

In [40]:
max(data, key=itemgetter('sid'))

{'fname': 'Arman', 'lname': 'Eghbali', 'sid': 1060}

 <h2><center> Native Comparison Support های بدون obj  مرتب کردن </center></h2>

In [42]:
class User:
    def __init__(self, uid):
        self.uid = uid
    
    def __repr__(self):
        return 'User({})'.format(self.uid)

In [43]:
u = [User(1003), User(789), User(1200), User(495)]

In [44]:
u

[User(1003), User(789), User(1200), User(495)]

In [45]:
sorted(u, key=lambda t: t.uid)

[User(495), User(789), User(1003), User(1200)]

In [46]:
from operator import attrgetter

In [47]:
sorted(u, key=attrgetter('uid'))

[User(495), User(789), User(1003), User(1200)]

In [48]:
min(u, key=attrgetter('uid'))

User(495)

In [49]:
max(u, key=attrgetter('uid'))

User(1200)

 <h2><center> پایان بخش 5-)گروه بندی داده ها براساس یک زمینه </center></h2>

In [62]:
data = [
    {'m2': 120, 'price':1.2, 'city': 'Tehran'},
    {'m2': 200, 'price':1.5, 'city': 'Shiraz'},
    {'m2': 180, 'price':1.6, 'city': 'Tehran'},
    {'m2': 100, 'price':0.9, 'city': 'Esfahan'},
    {'m2': 150, 'price':1.4, 'city': 'Esfahan'},
    {'m2': 110, 'price':1.1, 'city': 'Shiraz'},
    {'m2': 170, 'price':1.45, 'city': 'Ahvaz'},
    {'m2': 250, 'price':2.3, 'city': 'Ahvaz'},
    
]

In [51]:
data

[{'m2': 120, 'price': 1.2, 'city': 'Tehran'},
 {'m2': 200, 'price': 1.5, 'city': 'Shiraz'},
 {'m2': 180, 'price': 1.6, 'city': 'Tehran'},
 {'m2': 100, 'price': 0.9, 'city': 'Esfahan'},
 {'m2': 150, 'price': 1.4, 'city': 'Esfahan'},
 {'m2': 110, 'price': 1.1, 'city': 'Shiraz'},
 {'m2': 170, 'price': 1.45, 'city': 'Ahvaz'},
 {'m2': 250, 'price': 2.3, 'city': 'Ahvaz'}]

In [53]:
from operator import itemgetter
from itertools import groupby

In [54]:
data.sort(key=itemgetter('city'))

In [55]:
data

[{'m2': 170, 'price': 1.45, 'city': 'Ahvaz'},
 {'m2': 250, 'price': 2.3, 'city': 'Ahvaz'},
 {'m2': 100, 'price': 0.9, 'city': 'Esfahan'},
 {'m2': 150, 'price': 1.4, 'city': 'Esfahan'},
 {'m2': 200, 'price': 1.5, 'city': 'Shiraz'},
 {'m2': 110, 'price': 1.1, 'city': 'Shiraz'},
 {'m2': 120, 'price': 1.2, 'city': 'Tehran'},
 {'m2': 180, 'price': 1.6, 'city': 'Tehran'}]

In [57]:
for city, item in groupby(data, key=itemgetter('city')):
    print(city)
    for i in item:
        print('    ', i)

Ahvaz
     {'m2': 170, 'price': 1.45, 'city': 'Ahvaz'}
     {'m2': 250, 'price': 2.3, 'city': 'Ahvaz'}
Esfahan
     {'m2': 100, 'price': 0.9, 'city': 'Esfahan'}
     {'m2': 150, 'price': 1.4, 'city': 'Esfahan'}
Shiraz
     {'m2': 200, 'price': 1.5, 'city': 'Shiraz'}
     {'m2': 110, 'price': 1.1, 'city': 'Shiraz'}
Tehran
     {'m2': 120, 'price': 1.2, 'city': 'Tehran'}
     {'m2': 180, 'price': 1.6, 'city': 'Tehran'}

In [59]:
from collections import defaultdict

In [60]:
data_by_city = defaultdict(list)

In [65]:
for r in data:
    data_by_city[r['city']].append(r)

In [63]:
data

[{'m2': 120, 'price': 1.2, 'city': 'Tehran'},
 {'m2': 200, 'price': 1.5, 'city': 'Shiraz'},
 {'m2': 180, 'price': 1.6, 'city': 'Tehran'},
 {'m2': 100, 'price': 0.9, 'city': 'Esfahan'},
 {'m2': 150, 'price': 1.4, 'city': 'Esfahan'},
 {'m2': 110, 'price': 1.1, 'city': 'Shiraz'},
 {'m2': 170, 'price': 1.45, 'city': 'Ahvaz'},
 {'m2': 250, 'price': 2.3, 'city': 'Ahvaz'}]

In [67]:
for r in data_by_city['Ahvaz']:
    print(r)

{'m2': 170, 'price': 1.45, 'city': 'Ahvaz'}
{'m2': 250, 'price': 2.3, 'city': 'Ahvaz'}

In [68]:
data_by_city

defaultdict(list,
            {'Tehran': [{'m2': 120, 'price': 1.2, 'city': 'Tehran'},
              {'m2': 180, 'price': 1.6, 'city': 'Tehran'}],
             'Shiraz': [{'m2': 200, 'price': 1.5, 'city': 'Shiraz'},
              {'m2': 110, 'price': 1.1, 'city': 'Shiraz'}],
             'Esfahan': [{'m2': 100, 'price': 0.9, 'city': 'Esfahan'},
              {'m2': 150, 'price': 1.4, 'city': 'Esfahan'}],
             'Ahvaz': [{'m2': 170, 'price': 1.45, 'city': 'Ahvaz'},
              {'m2': 250, 'price': 2.3, 'city': 'Ahvaz'}]})

 <h2><center> فیلتر کردن المان های توالی </center></h2>

In [ ]:
# list comprehension

In [69]:
l = [1, 25, -9, 81, -54, 32, -17, 12, -2]

In [72]:
# l2 = []
# for n in l:
#     if n > 0:
#         l2.append(n)
[n for n in l if n > 0]

[1, 25, 81, 32, 12]

In [73]:
[n for n in l if n < 0]

[-9, -54, -17, -2]

In [ ]:
# generator expression

In [74]:
p = (n for n in l if n > 0)

In [75]:
p

In [76]:
for i in p:
    print(i)

1
25
81
32
12

In [77]:
val = ['120', '95', '-12', '93', '*', '2', 'N/A', '20']

In [79]:
def is_int(v):
    try:
        x = int(v)
        return True
    except ValueError:
        return False

In [81]:
list(filter(is_int, val))

['120', '95', '-12', '93', '2', '20']

In [82]:
num = [1, -5, 21, 7, -6, 14, -12]

In [83]:
import math

In [84]:
[math.sqrt(n) for n in num if n > 0]

[1.0, 4.58257569495584, 2.6457513110645907, 3.7416573867739413]

In [85]:
[n if n > 0 else 0 for n in num]

[1, 0, 21, 7, 0, 14, 0]

In [86]:
[n if n < 0 else 0 for n in num]

[0, -5, 0, 0, -6, 0, -12]

In [ ]:
# itertools.compress()

In [87]:
data1 = [
    'pejman',
    'ali',
    'vahid',
    'javad',
    'shahab'
]

In [88]:
data2 = [27, 24, 31, 25, 22]

In [89]:
from itertools import compress

In [90]:
moreth25 = [n > 25 for n in data2]

In [91]:
moreth25

[True, False, True, False, False]

In [93]:
list(compress(data1, moreth25))

['pejman', 'vahid']

<h2><center> Dictionary استخراج یک زیرمجموعه از یک </center></h2>

In [94]:
d = {
    'ASR': 25.3,
    'MNB': 41.2,
    'OLP': 65.3,
    'RTC': 41.8,
    'AZR': 74.5
}

In [107]:
%%timeit
d1 = dict((key, value) for key, value in d.items() if value > 41.5)
#1

3.24 µs ± 357 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [98]:
d1

{'OLP': 65.3, 'RTC': 41.8, 'AZR': 74.5}

In [108]:
%%timeit
d1 = {key:value for key, value in d.items() if value > 41.5}
#2

1.89 µs ± 190 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [100]:
d1

{'OLP': 65.3, 'RTC': 41.8, 'AZR': 74.5}

In [101]:
names = {'OLP', 'RTC', 'ASR'}

In [102]:
#1
d2 = {key:d[key] for key in d.keys() & names}

In [103]:
d2

{'OLP': 65.3, 'RTC': 41.8, 'ASR': 25.3}

In [104]:
#2
d2 = {key:value for key, value in d.items() if key in names}

In [105]:
d2

{'ASR': 25.3, 'OLP': 65.3, 'RTC': 41.8}

<h2><center> نگاشت اسامی به المان های توالی </center></h2>

In [109]:
from collections import namedtuple

In [110]:
User = namedtuple('User', ['fname', 'lname', 'PRL', 'age'])

In [112]:
user = User('Pejman', 'Eghbali', 'Python', 26)

In [113]:
user

User(fname='Pejman', lname='Eghbali', PRL='Python', age=26)

In [114]:
user.fname

'Pejman'

In [115]:
user.lname

'Eghbali'

In [116]:
user.age

26

In [117]:
user.PRL

'Python'

In [118]:
len(user)

4

In [119]:
fname, lname, PRL, age = user

In [120]:
fname

'Pejman'

In [122]:
PRL

'Python'

In [126]:
r = ('pejman', 'eghbali', 5, 24, 0.2)

In [130]:
def comp_sal(r):
    return r[2] + r[3]*r[4]

In [131]:
comp_sal(r)

9.8

In [132]:
W = namedtuple('W', ['c_salary', 'hour', 'sph'])

In [133]:
w = W(5, 24, 0.2)

In [134]:
def comp_sal(t):
    return t.c_salary + t.hour*t.sph

In [135]:
comp_sal(w)

9.8

In [136]:
W = namedtuple('W', ['fname', 'lname','c_salary', 'hour', 'sph'])

In [137]:
w = W('pejman', 'eghbali', 5, 24, 0.2)

In [138]:
comp_sal(w)

9.8

In [139]:
w = W('pejman', 'eghbali', 5, 24, 0.2)

In [142]:
w.sph = 0.3

AttributeError: can't set attribute

In [143]:
w = w._replace(sph=0.3)

In [144]:
w

W(fname='pejman', lname='eghbali', c_salary=5, hour=24, sph=0.3)

In [145]:
W = namedtuple('W', ['fname', 'lname','c_salary', 'hour', 'sph'])

In [146]:
w = W('', '', 0, 0, 0)

In [147]:
w

W(fname='', lname='', c_salary=0, hour=0, sph=0)

In [148]:
d = {'fname': 'pejman', 'lname': 'eghbali', 'c_salary': 6, 'hour':40, 'sph':0.4}

In [149]:
def dict_to_nt(h):
    return w._replace(**h)

In [150]:
dict_to_nt(d)

W(fname='pejman', lname='eghbali', c_salary=6, hour=40, sph=0.4)

 <h2><center> انتقال و کاهش هم زمان داده </center></h2>

In [151]:
numbers = [1, 2, 4, 8, 10]

In [152]:
s = sum(x**2 for x in numbers)

In [153]:
s

185

In [155]:
import os

In [156]:
os.getcwd()

'E:\\Faradars\\FVPHT99021\\Video\\S1\\File and Code'

In [157]:
files = os.listdir('E:\\Faradars\\FVPHT99021\\Video\\S1\\File and Code')

In [158]:
files

['.ipynb_checkpoints', 'S1.ipynb', 'text1.txt', 'text2.txt']

In [162]:
if any(n.endswith('.py') for n in files):
    print('There is py file')
else:
    print('There is not py file')

There is not py file

In [163]:
t = ('a', 120, 1800.3)

In [165]:
print(','.join(str(x) for x in t))

a,120,1800.3

In [167]:
d = [
    {'name':'ASR', 'price': 25.3},
    {'name':'MNB', 'price': 41.2},
    {'name':'OLP', 'price': 65.3},
    {'name':'RTC', 'price': 41.8},
    {'name':'AZR', 'price': 74.5}
]

In [168]:
max_d = max(v['price'] for v in d)

In [169]:
max_d

74.5

In [175]:
max_d_n = max(d, key=lambda s: s['price'])

In [176]:
max_d_n

{'name': 'AZR', 'price': 74.5}

In [170]:
numbers

[1, 2, 4, 8, 10]

In [172]:
s = sum(x**2 for x in numbers); s

185

In [173]:
s = sum((x**2 for x in numbers)); s

185

In [174]:
s = sum([x**2 for x in numbers]); s

185

 <h2><center> ترکیب چندین نگاشت در یک نگاشت واحد </center></h2>

In [177]:
d1 = {'a': 10, 'b': 20}
d2 = {'c': 30, 'b': 40}

In [178]:
from collections import ChainMap

In [187]:
cm = ChainMap(d1, d2)

In [181]:
cm

ChainMap({'a': 10, 'b': 20}, {'c': 30, 'b': 40})

In [182]:
cm['a']

10

In [183]:
cm['c']

30

In [188]:
cm['b']

20

In [189]:
len(cm)

3

In [190]:
list(cm.keys())

['c', 'b', 'a']

In [191]:
list(cm.values())

[30, 20, 10]

In [192]:
cm['b'] = 100

In [193]:
cm

ChainMap({'a': 10, 'b': 100}, {'c': 30, 'b': 40})

In [194]:
cm['d'] = 200

In [195]:
cm

ChainMap({'a': 10, 'b': 100, 'd': 200}, {'c': 30, 'b': 40})

In [197]:
del cm['a']

In [198]:
cm

ChainMap({'b': 100, 'd': 200}, {'c': 30, 'b': 40})

In [199]:
del cm['c']

KeyError: "Key not found in the first mapping: 'c'"

In [200]:
d3 = {'a': 100, 'c': 300}

In [201]:
d4 = {'b': 200, 'c': 400}

In [205]:
merged = dict(d4)

In [206]:
merged.update(d3)

In [207]:
merged

{'b': 200, 'c': 300, 'a': 100}

In [208]:
merged['a']

100

In [209]:
d3['a'] = 600

In [210]:
d3

{'a': 600, 'c': 300}

In [211]:
merged

{'b': 200, 'c': 300, 'a': 100}

In [212]:
d3

{'a': 600, 'c': 300}

In [213]:
d4

{'b': 200, 'c': 400}

In [216]:
merged = ChainMap(d3, d4)

In [217]:
merged

ChainMap({'a': 600, 'c': 300}, {'b': 200, 'c': 400})

In [218]:
merged['a'] = 800

In [219]:
merged

ChainMap({'a': 800, 'c': 300}, {'b': 200, 'c': 400})

In [220]:
d3

{'a': 800, 'c': 300}