<h1><center>تمارین فصل اول</center></h1>

---

<h2><center>با در نظر گرفتن رشته زیر، تمام المان ها را استخراج کرده و با جمع کردن المان های    
مناسب خروجی خواسته شده را تولید کنید    </center></h2>

In [2]:
s = 'faradars'

('f', 'a', 'r', 'a', 'd', 'a', 'r', 's')

'safar'

---

<h2><center>برای لیست اعداد زیر، با حذف المان های دوم از ابتدا و انتها، میانگین مربع باقی اعداد را حساب کنید</center></h2>

In [3]:
num = [1, 25, 34, 7, 81, 6, -8, 9, 12, 32, 14, 78, -55, 10, 17]

17.53846153846154

---

<h2><center> تولید کنید deque خروجی های زیر را با استفاده از </center></h2>

deque([0, 2, 8, 16, 40])

deque([0, 2, 8, 16, 40, 80])

deque([80, 0, 2, 8, 16, 40, 80])

deque([0, 2, 8, 16, 40, 80])

---

<h2><center> خروجی ها را تولید کنید heapq با استفاده از ماژول </center></h2>

In [58]:
d = [
    {'name':'RED', 'NOW':5000, 'price':93.8, 'Age': 101},
    {'name':'EWS', 'NOW':2000, 'price':100.8, 'Age': 200},
    {'name':'TRE', 'NOW':800, 'price':50.7, 'Age': 50},
    {'name':'PLE', 'NOW':700, 'price':50.3, 'Age': 46},
    {'name':'PTE', 'NOW':400, 'price':30.8, 'Age': 110},
    {'name':'SCV', 'NOW':1200, 'price':77.3, 'Age': 9},
    {'name':'URT', 'NOW':750, 'price':110.3, 'Age': 8},
    {'name':'STQ', 'NOW':3000, 'price':70.4, 'Age': 12}
]

[{'name': 'URT', 'NOW': 750, 'price': 110.3, 'Age': 8},
 {'name': 'EWS', 'NOW': 2000, 'price': 100.8, 'Age': 200},
 {'name': 'RED', 'NOW': 5000, 'price': 93.8, 'Age': 101}]

[{'name': 'EWS', 'NOW': 2000, 'price': 100.8, 'Age': 200},
 {'name': 'PLE', 'NOW': 700, 'price': 50.3, 'Age': 46},
 {'name': 'PTE', 'NOW': 400, 'price': 30.8, 'Age': 110}]

[{'name': 'URT', 'NOW': 750, 'price': 110.3, 'Age': 8},
 {'name': 'SCV', 'NOW': 1200, 'price': 77.3, 'Age': 9},
 {'name': 'STQ', 'NOW': 3000, 'price': 70.4, 'Age': 12}]

[{'name': 'RED', 'NOW': 5000, 'price': 93.8, 'Age': 101},
 {'name': 'STQ', 'NOW': 3000, 'price': 70.4, 'Age': 12},
 {'name': 'EWS', 'NOW': 2000, 'price': 100.8, 'Age': 200}]

---

<h2><center> defaultdict تولید دیکشنری  زیر با استفاده از </center></h2>

defaultdict(list,
            {'x': [(1, 4, 7, 's')],
             's': [(45, 78.6, 'abcd')],
             '5': [(4, '4', 4.4, '44.4')],
             5: [(7, 8, '5', 5)]})

---

<h2><center>خروجی های زیر را با انجام محاسبات روی دیکشنری تولید کنید </center></h2>

In [78]:
d = {
    'SRD': 400,
    'HFV': 125,
    'ABV': 760,
    'QBC': 800,
    'AAP': 150
}

'AAP'

'SRD'

125

(800, 'QBC')

[(125, 'HFV'), (150, 'AAP'), (400, 'SRD'), (760, 'ABV'), (800, 'QBC')]

[('AAP', 150), ('ABV', 760), ('HFV', 125), ('QBC', 800), ('SRD', 400)]

---

<h2><center> در دیکشنری های زیر با استفاده از روش یافتن اشتراکات، خروجی ها را تولید کنید</center></h2>

In [86]:
d1 = {
    '1': 10,
    '2': 20,
    '3': 30,
    '4': 40
}

d2 = {
    '1': 10,
    '2': 25,
    '5': 50,
    '6': 60
}

{'1', '2'}

{'5', '6'}

{('2', 20), ('3', 30), ('4', 40)}

---

<h2><center>ستون اول فایل اکسل را خوانده و تکرار ها را با نگه داشتن ترتیب، حذف کنید </center></h2>

[1.0, 5.0, 12.0, -12.0, 24.0, 71.0, 49.0, 73.0, 50.0]

---

<h2><center>ستون دوم فایل اکسل را خوانده و آیتم های پر تکرار را مشخص کنید </center></h2>

Counter({'python': 8, 'java': 3, 'php': 1, 'c++': 3, 'c': 2, 'R': 3})

---

<h2><center>با خصوصیات مشخص شده بسازید و خروجی ها را تولید کنید Car کلاسی بنام </center></h2>

[Car(2000, 100),
 Car(2018, 420),
 Car(2020, 1000),
 Car(2019, 220),
 Car(2014, 170),
 Car(1998, 120),
 Car(2017, 700)]

[Car(1998, 120),
 Car(2000, 100),
 Car(2014, 170),
 Car(2017, 700),
 Car(2018, 420),
 Car(2019, 220),
 Car(2020, 1000)]

[Car(2000, 100),
 Car(1998, 120),
 Car(2014, 170),
 Car(2019, 220),
 Car(2018, 420),
 Car(2017, 700),
 Car(2020, 1000)]

Car(2000, 100)

---

<h2><center> با استفاده از داده ی زیر، گروه بندی های لازم را انجام داده و خروجی های مورد نیاز را تولید کنید</center></h2>

In [33]:
car = [
    {'co': 'W', 'price':100, 'year': 2000},
    {'co': 'B', 'price':150, 'year': 2012},
    {'co': 'K', 'price':160, 'year': 2020},
    {'co': 'W', 'price':410, 'year': 2012},
    {'co': 'K', 'price':280, 'year': 2000},
    {'co': 'B', 'price':190, 'year': 2020},
    {'co': 'K', 'price':340, 'year': 2012},
    {'co': 'K', 'price':780, 'year': 2000}
    
]

B
     {'co': 'B', 'price': 150, 'year': 2012}
     {'co': 'B', 'price': 190, 'year': 2020}
K
     {'co': 'K', 'price': 160, 'year': 2020}
     {'co': 'K', 'price': 280, 'year': 2000}
     {'co': 'K', 'price': 340, 'year': 2012}
     {'co': 'K', 'price': 780, 'year': 2000}
W
     {'co': 'W', 'price': 100, 'year': 2000}
     {'co': 'W', 'price': 410, 'year': 2012}

defaultdict(list,
            {2000: [{'co': 'W', 'price': 100, 'year': 2000},
              {'co': 'K', 'price': 280, 'year': 2000},
              {'co': 'K', 'price': 780, 'year': 2000}],
             2012: [{'co': 'B', 'price': 150, 'year': 2012},
              {'co': 'W', 'price': 410, 'year': 2012},
              {'co': 'K', 'price': 340, 'year': 2012}],
             2020: [{'co': 'K', 'price': 160, 'year': 2020},
              {'co': 'B', 'price': 190, 'year': 2020}]})

---

<h2><center>داده ی زیر را به ترتیبی فیلتر کنید که اگر مقدار هر المان منفی بود، آن را در دو ضرب کند و اگر مثبت بود منفی آن را نشان دهد</center></h2>

In [46]:
n = [1, 25, -781, 253, -99, -89, 77, 1234,
     5412, 96, -45, -78, 78, -78, 125, 12]

[-1,
 -25,
 -1562,
 -253,
 -198,
 -178,
 -77,
 -1234,
 -5412,
 -96,
 -90,
 -156,
 -78,
 -156,
 -125,
 -12]

---

<h2><center>زیر مجموعه های خواسته شده را از دیکشنری زیر استخراج کنید</center></h2>

In [48]:
d = {
    'A': 120,
    'B': 890,
    'C': 14,
    'D': 10,
    'E': 78,
    'F': 450
}

{'A': 120, 'B': 890, 'F': 450}

{'A': 120, 'D': 10, 'E': 78}

---

<h2><center>مربع مقادیر ستون اول فایل اکسل را همانند خروجی نشان داده شده تولید کنید</center></h2>

[1.0,
 25.0,
 144.0,
 144.0,
 144.0,
 25.0,
 576.0,
 5041.0,
 2401.0,
 144.0,
 1.0,
 25.0,
 5329.0,
 2500.0]

---

<h2><center>دیکشنری های زیر را ادغام کرده و خروجی های خواسته شده را تولید نمایید</center></h2>

In [63]:
d1 = {'A': 100, 'D': 200}
d2 = {'B': 400, 'D': 700}
d3 = {'B': 500, 'C': 600}

ChainMap({'A': 100, 'D': 200}, {'B': 400, 'D': 700}, {'B': 500, 'C': 600})

400

600

ChainMap({'A': 100, 'D': 200, 'H': 1000}, {'B': 400, 'D': 700}, {'B': 500, 'C': 600})